image:
  # Do not fill, Gitlab CI will fill it automatically
  repository: ""
  tag: ""

resources:
  limits:
    cpu: 300m
    memory: 256Mi
  requests:
    cpu: 150m
    memory: 128Mi

app:
  logLevel: "info"
  sentryDSN:
  domain:

db:
  connectionPool:
    size: 1
    timeout: 10
    recycleAfter: 1000
  retry:
    retryableExceptions: ["DeadlockDetectedError", "SerializationError"]
    count: 3
    wait:
      factor: 1
      base: 1.5

api:
  replicaCount: 2
  serverWorkers: 2
  service: {}
  route:
    path: "/"
