destinations:
  - name: grafana-cloud-metrics
    type: prometheus
    auth:
      type: basic
  - name: grafana-cloud-logs
    type: loki
    auth:
      type: basic
prometheusOperatorObjects:
  enabled: true
podLogs:
  enabled: true
alloy-metrics:
  enabled: true
  alloy:
    extraEnv:
      - name: CLUSTER_NAME
        value:
      - name: NAMESPACE
        valueFrom:
          fieldRef:
            fieldPath: metadata.namespace
      - name: POD_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.name
      - name: GCLOUD_FM_COLLECTOR_ID
        value: grafana-k8s-monitoring-$(CLUSTER_NAME)-$(NAMESPACE)-$(POD_NAME)
  remoteConfig:
    enabled: false
alloy-logs:
  enabled: true
  alloy:
    mounts:
      dockercontainers: false
    extraEnv:
      - name: CLUSTER_NAME
        value:
      - name: NAMESPACE
        valueFrom:
          fieldRef:
            fieldPath: metadata.namespace
      - name: POD_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.name
      - name: NODE_NAME
        valueFrom:
          fieldRef:
            fieldPath: spec.nodeName
      - name: GCLOUD_FM_COLLECTOR_ID
        value: grafana-k8s-monitoring-$(CLUSTER_NAME)-$(NAMESPACE)-alloy-logs-$(NODE_NAME)
  remoteConfig:
    enabled: false
