include {
  path = find_in_parent_folders()
}

terraform {
  source = "../common//."
}

inputs = {
  env = basename(get_terragrunt_dir())
  database = {
    type_version        = "POSTGRES_18"
    edition             = "ENTERPRISE"
    cpu                 = 1
    memory              = 3.75
    disk_size           = 10
    disk_autoresize     = true
    deletion_protection = true
    availability_type   = "ZONAL"
    backup_enabled      = true
    backup_time         = "00:30"
    maintenance_day     = 7
    maintenance_hour    = 1
    flags               = {}
  }
}
