apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: {{ .Chart.Name }}
spec:
  provider:
    gcpsm:
      projectID: {{ .Values.cluster.gcpProjectID  }}
      auth:
        workloadIdentity:
          serviceAccountRef:
            name: external-secrets
            namespace: external-secrets
