apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "chart.prefix" . }}common
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
data:
  APP_ENV: {{ .Values.app.environment | quote }}
  LOG_LEVEL: {{ .Values.app.logLevel | quote }}

  DB_PROTOCOL: {{ .Values.db.protocol | quote }}
  DB_HOST: {{ .Values.db.host | quote }}
  DB_PORT: {{ .Values.db.port }}
  DB_NAME: {{ .Values.db.dbName | quote }}
  DB_USER: {{ .Values.db.user | quote }}
  DB_POOL_SIZE: {{ .Value.db.pool.size }}
  DB_POOL_TIMEOUT: {{ .Value.db.pool.timeout }}
  DB_POOL_RECYCLE: {{ .Value.db.pool.recycleAfter }}
