inputs = {
  project_id =
  cluster_name =
  cluster_location =
  admin_email =
  k8s_namespace =
  domain =

  gitlab_base_url = "https://gitlab.com"
  gitlab_project_path = "<namespace>/<name>"
  ci_concurrent_jobs = 10
  ci_replicas = 1

  grafana_prometheus_url =
  grafana_prometheus_username =
  grafana_loki_url =
  grafana_loki_username =
}
